# gitee
.gitee/

# gradle ignore
target/
output/
build/
.gradle/
#gradle/
#gradlew
#gradlew.bat
# *.jar
*.war
*.zip
*.tar
# *.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
logs/
tmp/
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
